body {
    font-family: sans-serif;
}

code {
    color: red;
    font-family: monospace;
}

li {
    font-family: inherit;
}

.green-code {
    color: green;
}

li ~ li {
    color: white;
    background: black;
}

ol > li {
    color: white;
    background: black;
}

#assignment-instructions {
    color: #660878;
    font-family: sans-serif;
}
