* {
    box-sizing: border-box;
}

.box {
    display: none;
    height: 300px;
    width: 50%;
    padding: 5px 10px 5px 15px;
    margin: 5px 10px 5px 15px;
    border: solid 5px black;
}

.box2 {
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 5px 10px 5px 15px;
    margin: 5px 10px 5px 15px;
    border: solid 5px black;
}

.box2:hover {
    background-color: brown;
}
